/* .navbar {
  background: linear-gradient(#070707, #d7dadb);
} */

.bulma-overlay-mixin {
  /* @include overlay(1rem); */
  background-color: rgb(90, 137, 161);
  border-radius: 0.5em;
  color: white;
  opacity: 0.8;
  padding: 1em;
}
